name: Build and upload to PyPI

on:
  release:
    types:
      - published

jobs:
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build sdist
        run: pipx run build --sdist

      - name: Test sdist
        run: |
          python -m pip install dist/thorvg_python-*.tar.gz
          pip install Pillow pytest
          pytest

      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz
          retention-days: 7

  build_wheels:
    name: Build wheels on ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: windows-latest
            arch: x86
          - os: windows-latest
            arch: arm64
          - os: macos-15-intel
            arch: x64
          - os: macos-15
            arch: universal2
          - os: macos-15
            arch: arm64
          - os: ubuntu-latest
            arch: x64
          - os: ubuntu-latest
            arch: x86
          - os: ubuntu-24.04-arm
            arch: arm64
          - os: ubuntu-latest
            arch: ppc64le
          - os: ubuntu-latest
            arch: s390x

    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all
      
      - name: Build wheels
        if: runner.os != 'Linux'
        env:
          TVGPY_COMPILE_TARGET: ${{matrix.arch}}
        run: |
          pip wheel . -w wheelhouse_anytag

      - name: Build wheels (Linux)
        if: runner.os == 'Linux'
        run: |
          docker run \
          --rm \
          -v $(pwd):/${GITHUB_WORKSPACE} \
          -w ${GITHUB_WORKSPACE} \
          --platform linux/${{matrix.arch}} \
          quay.io/pypa/manylinux2014_${{matrix.arch}} \
          pip wheel . -w wheelhouse_anytag
      
      - name: auditwheel
          pip install auditwheel
          auditwheel repair -w wheelhouse ./wheelhouse_anytag/*.whl

      - name: abi3audit
        run: |
          pip install abi3audit
          abi3audit $(ls ./wheelhouse/*.whl) --debug --verbose

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.arch }}
          path: ./wheelhouse/*.whl
          retention-days: 7

  # upload_pypi_test:
  #   needs: [build_wheels, build_sdist]
  #   runs-on: ubuntu-latest
  #   # upload to PyPI on every tag starting with 'v'
  #   if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
  #   steps:
  #     - name: "Download artifacts"
  #       uses: actions/download-artifact@v4
      
  #     - name: "Move packages to the dist/ folder"
  #       run: |
  #         mkdir dist/
  #         mv sdist/* dist/
  #         mv wheels-*/*.whl dist/

  #     - name: "Publish packages on PyPI"
  #       uses: pypa/gh-action-pypi-publish@v1.5.0
  #       with:
  #         password: ${{ secrets.PYPI_API_TOKEN }}
  #         repository_url: https://test.pypi.org/legacy/

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - name: "Download artifacts"
        uses: actions/download-artifact@v4
      
      - name: "Move packages to the dist/ folder"
        run: |
          mkdir dist/
          mv sdist/* dist/
          mv wheels-*/*.whl dist/

      - name: "Publish packages on PyPI"
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}